<div class="flex flex-direction-column flex-grow-1 has-background-color">
   <nav class="navigation px-4">
    <ul class="navigation-items">
      <li>
      </li>
      <li>
        <p class="text-white font-proxima">Categories</p>
      </li>
         <li>
        <%= link_to 'logout' , destroy_user_session_url, method: :delete, class: "logout next text-white bg-transparent cursor-pointer"%>
    </li>
    </ul>
  </nav>

    <% if @groups.empty? %>
        <div class="alert alert-info">
          No categories for now !
        </div>
      <% else %>
          <%= render @groups %>
      <% end %>

 

</div>


<button class="footer_btn">
    <%= link_to 'Add a new category', new_group_path, class: "log" %>
</button>


