<section class="contain">
    <div class="logo" >
        <%= image_tag("logo.png", class: "m-5") %>
    </div>

<div class="flex flex-col m-5 button-container">
        <button class="log-in" ><%= link_to "LOG IN",new_user_session_path, class:'log' %> </button>
       <button class="sign-up"> <%= link_to "SIGN UP",new_user_registration_path, class:'signup' %></button>
</div>
</section>