/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
 body {

} */

body,
html {
  background-color: #f1f3f2;
  min-height: 100%;
}

.category-btn {
  text-decoration: none;
}

.button-container {
  display: flex;
  flex-direction: column;
  padding-top: 8rem;
  gap: 1rem;
}

.log {
  text-decoration: none;
  color: white;
}

.log:visited {
  color: white;
}

.log-in {
  background-color: #3778c2;
  border: none;
  border-radius: 2%;
  height: 3rem;
  width: 19rem;
  margin-left: -2.5rem;
}

.date {
  color: #808285;
}

.group-name {
  color: #6b6b6b;
}

.signup {
  color: #808285;
  text-decoration: none;
}

.sign-up {
  background-color: transparent;
  border: none;
}

.navigation {
  background-color: #3778c2;
  margin-left: -2rem;
  padding-top: 1rem;
}

.navigation-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

.next {
  border: none;
}

.logout {
  text-decoration: none;
}

.new_cat {
  background-color: #5fb523 !important;
}

.total-amount {
  /* margin-left: 5rem; */
  margin-right: 0.5rem;
  margin-top: -1.5rem;
  float: right;
  font-weight: bold;
  font-size: large;
  color: black;
}

.image {
  width: 3rem;
  height: 3rem;
}

.group-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.input {
  margin: 0;
  border-top: none;
  width: 19.5rem;
  height: 3rem;
  padding-left: 1rem;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid rgb(163, 163, 163);
  resize: none;
  outline: none;
}

.email {
  border-top: 1px solid rgb(163, 163, 163);
}

.footer_btn {
  background-color: #5fb523;
  border: none;
  border-radius: 2%;
  height: 3rem;
  width: 19rem;
  margin-left: 10px;
  position: sticky;
  margin-top: 5rem;
  bottom: 2rem;
}

.group_informations {
  background-color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  color: gray;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  height: 3rem;
  padding-bottom: 2rem;
  padding-top: 1rem;
  margin-top: -1rem;
  margin-bottom: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0 8px 16px -8px;
}

.name {
  border-top: 1px solid rgb(163, 163, 163);
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  border: 2px solid red;
  width: 19.5rem;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  margin-top: 2rem;
}

/* *{
    outline: red 1px solid;
} */

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

.forgot-password {
  text-decoration: none;
  color: gray;
}

.forgot {
  margin-top: 5rem;
  text-align: center;
}

.category {
  display: flex;
  flex-direction: row;
  border: 1px gray solid;
  padding: 1rem;
  margin: 1rem;
  gap: 1rem;
}
